html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Arial", "Helvetica", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: currentColor;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }